:root{
  --gray: #6E6E6E;
  --light: #FFF;
  --purple-light: #9280F7;
  --text-color-white: rgb(255, 255, 255);
  --text-color-dark: #000
}

#gray,
:root:has(#gray:checked){
  --bg-color: var(--gray);
  --text-color: var(--text-color-dark);
}

#light,
:root:has(#light:checked){
  --bg-color: var(--light);
  --text-color: var(--text-color-dark);
}

#purple,
:root:has(#purple:checked){
  --bg-color: var(--purple-light);
  --text-color: var(--light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  cursor: pointer;
}

article{
  width: 30rem;
  margin: 5rem auto;
}

article h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article h4{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article p#text{
  letter-spacing: 2px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0 0 0 / 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article p#contact{
  
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

article a{
  text-decoration: none;
  font-weight: bold;
}

article a:hover{
  color: #ff000080;
}

ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  background-color: var(--light);
  box-shadow: 0 0 1rem rgba(0 0 0 / 0.5);
  padding: 1.5rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

ul li input#light{
  border-color: #000;
}

/*Observaçao: Para Mudar A Aparencia do RADIO, Precisamos Usar O  Atributo APPEARANCE.*/
input[type="radio"]{
  appearance: none;
  border: 2px  solid var(--input-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

input[type="radio"]:checked{
  background-color: var(--input-color);
}

#light{
  --input-color: var(--light);
}

#gray{
  --input-color:var(--gray);
}

#purple{
  --input-color:var(--purple-light);
}

